{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "User Profile" %}{% endblock %}

{% block content %}

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">

                <h1>{% trans "Profile" %}</h1>

                <p></p>

                <p>{% user.username %}</p>
                <p>{% user.email %}</p>


            </div>
        </div>
    </header>



{% endblock %}
