{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "User Profile" %}{% endblock %}

{% block content %}

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">

                <h1>{% trans "Profile" %}</h1>

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-4">
                        <div class="float-left">
                            Username:
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="float-left">
                            {{ user.username }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-4">
                        <div class="float-left">
                            Email:
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="float-left">
                            {{ user.email }}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-4">
                        <div class="float-left">
                            First Name:
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="float-left">
                            {{ user.first_name }}
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-4">
                        <div class="float-left">
                            Last Name:
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="float-left">
                            {{ user.last_name }}
                        </div>

                    </div>
                </div>




            </div>
        </div>
    </header>



{% endblock %}
